fastapi
uvicorn
pydantic
typing-extensions
pydantic-settings
python-dotenv
google-cloud-secret-manager
cloud-sql-python-connector
sqlalchemy
asyncpg
httpx
PyYAML==6.0.1
langchain
langchain-core
google-cloud-aiplatform
langchain-google-vertexai
langgraph
numpy<2
pytest
pytest-asyncio
firebase-admin
twilio
